body,
body * {
box-sizing: border-box;
margin: 0;
padding: 0;
}

.container{
    display: inline-block;
    width: 100%;
}

.logo{
    float: left;
    margin-left: 5%;
    background-color: blanchedalmond;
    height: 50px;
}

.logo > img{
    height: 50px;
}

.drop-down{
    margin-right: 5%;
    margin-top: 10px;
    background-color: white;
    border-style: none;
    float: right;
    font-size: 30px;
    line-height: 1em;
    padding: 0px 5px;
}

main{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    margin: 0;
    font-size: 40px;
    line-height: 1em;
}
p{
    margin: 0;
    color: gray;
    font-size: 20px;
}

span{
    display:inline;
    text-align: right;
    margin-left: 50px;
}