header{
    display: inline-block;
    width: 100%;
}

nav{
    margin-right: 5%;
    margin-top: 10px;
    float: right;
}

button{
    background-color: white;
    border-style: none;
    float: left;
    font-size: 30px;
    line-height: 1em;
    padding: 0px 5px;
}
main{
    display: inline-block;
    width: 100%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    margin: 0;
    font-size: 40px;
    line-height: 1em;
}
p{
    margin: 0;
    color: gray;
    font-size: 20px;
}

span{
    display:inline;
    text-align: right;
    margin-left: 50px;
}